@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf') format('truetype'),
    url('Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.ttf') format('truetype'),
    url('Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* @font-face {
  font-family: 'Gloria Hallelujah';
  src: url('GloriaHallelujah-Regular.ttf') format('truetype'),
    url('GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
} */
